@model Statement

@using Microsoft.AspNetCore.Http.Extensions;

@{
    // string url = Context.Request.GetDisplayUrl();
    string url = "https://baraye-azadi.com/Statement/StatementText?statementId=15";
    ViewData["Title"] = Model.Title;
}

<div class="container-fluid text-center p-0">


    <div class="container-fluid text-center p-0">


        <div class="row  d-flex container align-items-center justify-content-center">
            <div class="col col-sm-12  " style=" font-family:'Times New Roman';">

                    <h4 class="lh-md shadow p-3  bg-body-tertiary rounded  text-end ">
                        <span dir="rtl">
                        @if (Model.Type == "Video" || Model.Type == "DemoVideo")
                        {
                            <br />
                            if (Model.Language == "English")
                            {
                                <span dir="ltr">
                                    <div class="text-center">
                                        @Model.Title
                                    </div>
                                </span>
                            }
                            else
                            {
                                <div class="text-center">
                                    @Model.Title
                                </div>
                            }
                            <br />

                        }
                            
                        @if (Model.Language == "English" && Model.Type == "Text")
                        {
                            <div class="text-center  ">
                                <br />
                                <img src="~/@Model.ImageUrl" style="width: 300px" />
                                <br /><br />
                            </div>
                            <span dir="ltr">
                            <div class="text-start">
                                @Html.Raw(Model.Text.Replace("\r\n", "<br />").Replace("\n", "<br />"))
                            </div>
                            </span>
                        }
                        else if (Model.Language == "Farsi" && Model.Type == "Text")
                        {
                            <div class="text-center  ">
                                <br />
                                <img src="~/@Model.ImageUrl" style="width: 300px" />
                                <br /><br />
                            </div>
                            <div >
                                @Html.Raw(Model.Text.Replace("\r\n", "<br />").Replace("\n", "<br />"))
                            </div>
                        }
                        else if (Model.Type == "Video" || Model.Type == "DemoVideo")
                        {

                            <div class="tutorial container text-center my-5 ratio ratio-16x9">
                                <iframe src="@Model.Text"
                                        allowfullscreen>
                                </iframe>
                            </div>

                            
                        }
                        
                        @if (Model.Language == "Farsi" && Model.Type == "Text")
                        {

                            <div class="text-center  ">
                                <br />
                                <img src="~/@Model.ImageUrl" style="width: 300px" />
                                <br /><br /><br />
                                <a href="~/@Model.PdfUrl" style="text-decoration:none; color:cyan">
                                    دانلود بیانیه بصورت PDF
                                </a>
                            </div>
                        }
                        else if (Model.Language == "English" && Model.Type == "Text")
                        {

                            <div class="text-center  ">
                                <br />
                                <img src="~/@Model.ImageUrl" style="width: 300px" />
                                <br /><br /><br />
                                <a href="~/@Model.PdfUrl" style="text-decoration:none; color:cyan">
                                    Download Statement as PDF
                                </a>
                            </div>
                        }
                        </span>

                    </h4>
                </div>
            </div>
       
    </div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>


